.gallery {
    display: grid;
    gap: 24px 20px;
    grid-template-columns: 1fr;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 40px 0 60px;
}

.pag-arrow {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    background: transparent;
}

body.dark .pag-arrow {
    background: #DEDEDE;
}

body.light .pag-arrow {
    background: #666666;
}

.pag-arrow:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.pag-arrow-left {
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M15 18L9 12L15 6' stroke='%23DEDEDE' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E") no-repeat center;
    mask-size: contain;
}

.pag-arrow-right {
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 6L15 12L9 18' stroke='%23DEDEDE' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E") no-repeat center;
    mask-size: contain;
}

.pag-numbers {
    display: flex;
    gap: 4px;
    align-items: center;
}

.pag-number {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 140%;
    padding: 1px 8px;
    min-width: 24px;
    height: 24px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
}

body.dark .pag-number {
    color: #DEDEDE;
}

body.light .pag-number {
    color: #1A1A1A;
}

body.dark .pag-number.active {
    background: #1A1818;
    font-weight: 500;
}

body.light .pag-number.active {
    background: #E0E0E0;
    font-weight: 500;
}

.pag-number:not(.active) {
    font-weight: 300;
}


@media (min-width: 768px) and (max-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1025px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}
