.header {
    padding: 16px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 40px;
}

.theme-toggle {
    width: 36px;
    height: 36px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}

.theme-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}